{% extends 'base.html.twig' %}

{% block body %}
    <section>
        {% for lesson in lessons %}
            <article>
                <h1>{{ lesson.title }}</h1>
                <p>{{ lesson.summary }}</p>
                <p>{{ lesson.writer.username }}</p>
            </article>
        {% endfor %}
    </section>
{% endblock %}
